* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 90vh;
}

body {
  height: 100%;
}

/*초기화코드 End*/

/*헤더 어플이름*/
header {
  background-color: #ffdf6a;
  text-align: center;
  padding: 30px;
}

a.ha {
  text-decoration: none;
  color: black;
}

/* end 헤더 */
/* @@@@@@@일반메뉴 CSS @@@@@@@ */
ul.MENU {
  padding: 10px;
  background-color: #00dad6;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* HOME만 왼쪽으로 */
ul.MENU li:first-child {
  margin-right: auto;
}

ul.MENU li {
  margin: 0 10px;
  font-weight: bold;
  transition: 0.7s;
}

ul.MENU li:hover {
  cursor: pointer;
  /* background-color: rgb(255, 205, 113); */
  color: white;
}

/* @@@@@@@일반메뉴 CSS END@@@@@@@ */

/* ********** 동물목록************ */
li {
  list-style: none;
}

#gnb li ul {
  display: none;
}

#gnb>li:hover>a {
  /* border-bottom: 3px solid red; */
  background-color: blueviolet;
  /*나중엔 사진을 넣을거니까 opacity 가좋을듯*/
}

#gnb li:hover ul {
  display: block;
  border: 3px solid blue;
}

#gnb li ul li:hover a {
  /* border-bottom: 3px solid pink; */
  background-color: rgb(251, 5, 255);
}

ul li ul li {
  margin-left: 100px;
}

h4 {
  margin: 10px;
  width: 100px;
  text-align: center;
  padding: 10px;
  border: solid black;
  border-radius: 50px;
}

img.b_animal {
  margin: 5px 0 15px 10px;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50%;
}

div.dropdown_menu {
  position: left;
  /*이목록은 항상 왼쪽에두게..*/
  border: 3px solid black;
  margin: 10px 10px 0 10px;
  /*섹션이랑 안붙게 위랑좀띄우고, 왼쪽도살짝*/
  padding-right: 10px;
  /* 설치류 글자랑 안붙게 좀밀고*/
}

.notwhitespace {
  /* 동물이름 안찌그러지게 */
  white-space: nowrap;
  text-decoration: none;
  /* 줄떼고 */
  color: black;
  font-weight: bold;
}

/* ************* end 동물목록 *********  */
/* 영역구분 */
div.nanugi {
  display: flex;
}

section {
  flex: auto;
  border: 3px solid rgb(0, 0, 0);
  margin-top: 10px;
  /* 동물메뉴랑 똑같이 메뉴에서 10xp 띄우고 */
  margin-right: 10px;
  /* 오른쪽에 너무 딱붙지않게 */
  display: flex;
  /*article 두개 나란히 섹션안에*/
  flex-direction: column;
}

/* 영역구분 end*/
section article {
  margin: 10px;
  flex: 1;
  border: 3px solid #94e65e;
}

/* 알림 */
ul.alrim {
  margin: 5px 5px 0 5px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
}

@keyframes alrim_slide {
  0% {
    transform: translateX(75%);
  }

  100% {
    /* div.image_list 의 width * (-1) */
    transform: translateX(1%);
  }
}

li.alrim {
  animation: alrim_slide 5s linear infinite;
}

li.alrim a {
  text-decoration: none;
  color: black;
}

.ckcss {
  width: 95%;
  margin: 10px auto;
  border: 3px solid #00dad6;
}

section.input {
  padding: 10px;
  text-align: center;
  display: flex;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

section.input input {
  flex: 1;
  margin: 0 5px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 1.2rem;
}

section.input input:hover {
  background-color: #fff8b4;
}

section.input input:focus {
  border: 2px solid orange;
}

section.input button {
  margin-top: 7px;
  /* 입력칸이랑 거리주기 */
  height: 30px;

  padding: 0 40px;
  border: none;
  border-radius: 20px;
  white-space: none;
  /* 화면이 줄어들었을때 글자가 접히지않음 */
  background-color: #00dad6;
  font-weight: bold;
}

section.list {
  flex: 1;

  margin-top: 0px;
}

section.list ul {
  list-style: none;
}

section.list li {
  cursor: pointer;
  background-color: #fff3af;
  font-size: 1.2rem;
  /* 클릭했을때 글자 블럭쌓아지지않게 / 작성할때 줄그어지면 안써도되는것 */
  /* Browser 호환성 위한 설정 */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /* 더블클릭했을때 블럭x */
  padding: 0.9rem;
  transition: 0.3s;

  display: flex;
}

section.list li:nth-of-type(odd) {
  /* odd 는 홀수. 홀수만 색바꾸기 (짝수는 even) */
  background-color: #c5fffa;
}

section.list li:hover {
  background-color: #ffd2e6;
}

section.list li.complete {
  background-color: #9f9f9f;
}

section.list li.complete span.todo {
  text-decoration: line-through;
  /* 글자위에 줄긋기 */
  color: #bebebe;
}

/*
  li tag에 complete class 가 없으면
  span.complete 에 속성 적용하기
  */
section.list li:not(.complete) span.complete {
  /* li:not() li 태그에 complete가 붙어있지않으면 */
  visibility: hidden;
}

span.complete {
  margin: 0 5px;
  color: red;
}

span.todo {
  flex: 1;
}

span.close {
  transition: 0.7s;
  padding: 0 5px;
  border-radius: 50px;
  font-size: 1.2rem;
}

span.close:hover {
  color: red;
  background-color: orange;
  padding: 0 5px;
}

h3.checklist {
  text-align: center;
}

/* 아이콘들 */
.fa-calendar,
.fa-bell {
  /* 아이콘 옆으로띄우기 */
  margin-right: 5px;
}

.fa-user-plus,
.fa-feather,
.fa-thumbtack,
.fa-comment,
.fa-arrow-right,
.fa-house,
.fa-book,
.fa-bell {
  margin-left: 5px;
}

.fa-bell {
  color: orange;
}

/* 아이콘 end */